@font-face {
    font-family: "YuGothic-Bold";
    src: 
        local("YuGothic-Bold"),
        local("YuGothic Bold"),
        local("Yu Gothic Bold"),
        url("fonts/YuGothic/YuGothic-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "YuGothic-Medium";
    src: 
        local("YuGothic-Medium"),
        local("YuGothic Medium"),
        local("Yu Gothic Medium"),
        url("fonts/YuGothic/YuGothic-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "YuGothic-Light";
    src: 
        local("YuGothic-Light"),
        local("YuGothic Light"),
        local("Yu Gothic Light"),
        url("fonts/YuGothic/YuGothic-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "YuGothic";
    src: 
        local("YuGothic"),
        local("Yu Gothic"),
        url("fonts/YuGothic/YuGothic-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@mixin yugothic {
    /* 游ゴシック体 */
    font-family: "YuGothic","游ゴシック体", 
        "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
        "MS Pゴシック", "MS PGothic", sans-serif;
}
@mixin yugothic-bold {
    /* 游ゴシック体 */
    font-family: "YuGothic-Bold","YuGothic","游ゴシック体", 
        "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
        "MS Pゴシック", "MS PGothic", sans-serif;
}
@mixin yugothic-medium {
    /* 游ゴシック体 */
    font-family: "YuGothic-Medium","YuGothic","游ゴシック体", 
        "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
        "MS Pゴシック", "MS PGothic", sans-serif;
}
