.notification-container{
    width:100%;
    position:fixed;
    bottom:5%;
    z-index:9999;
    .notification-list{
        padding:0px 5px;
        margin:0 auto;
        max-height:200px;
        overflow-y:auto;
        max-width:750px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        .ui-notification{
            min-width:100%;
        }
        &::-webkit-scrollbar{
            width:5px;

        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius:5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}
