// Fonts
//@import "fonts/import";

// Variables
@import "helpers/_imports";
@import "variables";

// Variables
@import "_imports";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    -webkit-overflow-scrolling: touch !important;
}
html {
    width: 100%;
    min-height: 100%;
    overflow-y: auto !important;
}
body {
    zoom: 100%;
}

body,
.app-main,
.app-container {
    width: 100%;
    min-height: 100vh;
    height: 100% !important;
}

[v-cloak] {
    display: none;
}

.app-container {
}
