/*
* OS X: 游ゴシック体 or YuGothic
* Windows: 游ゴシック or Yu Gothic
* references:
- https://speakerdeck.com/tacamy/modanri-ben-yu-huontozhi-ding
- https://docs.google.com/presentation/d/18Uz_sgtt-yPv9Jx2XQbpiF2C9Sj1IvePzjxPIs3-YBg/edit#slide=id.g61c6727c33_0_117
---------------------------------
* UPDATE NOTES
* OS X 10.9 ~ Yu-Gothic Medium Bold
---------------------------------
!! FONT NAMINGS !!
- YuGothic
- Yu Gothic
- 游ゴシック体
- 游ゴシック体
- YuGothic-Regular
- Yu Gothic Regular
- YuGothic-Light
- Yu Gothic Light
- YuGothic-Medium
- Yu Gothic Medium
- YuGothic-Bold
- Yu Gothic Bold
*/

@mixin build__yugothic($name) {
    $base: local("YuGothic"), local("Yu Gothic"), local("游ゴシック体"),
        local("游ゴシック"), local("YuGothic-Regular"),
        local("Yu Gothic Regular");

    $light: local("YuGothic-Light"), local("Yu Gothic Light"), $base;

    $medium: local("YuGothic-Medium"), local("Yu Gothic Medium"), $light;

    $bold: local("YuGothic-Bold"), local("YuGothic Bold"),
        local("Yu Gothic Bold"), $medium;

    @font-face {
        @if $name == "light" {
            font-family: "YuGothic-Light";
            src: $light, url("YuGothic/YuGothic-Light.woff") format("woff");
            font-weight: 200;
        } @else if $name == "medium" {
            font-family: "YuGothic-Medium";
            src: $medium, url("YuGothic/YuGothic-Medium.woff") format("woff");
            font-weight: 500;
        } @else if $name == "bold" {
            font-family: "YuGothic-Bold";
            src: $bold, url("YuGothic/YuGothic-Bold.woff") format("woff");
            font-weight: bold;
        } @else {
            font-family: "YuGothic";
            src: $base, url("YuGothic/YuGothic-Regular.woff") format("woff");
            font-weight: 400;
        }
    }
}

/*
*
* SIMPLY COMMENT OUT NOT IN USE FONT-FAMILY
*/
@include build__yugothic("regular");
//@include build__yugothic("light");
@include build__yugothic("medium");
@include build__yugothic("bold");

/*
* USE MIXINS FOR SETTING font-family on element
*/
@mixin yugothic {
    font-display: auto;
    font-family: "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
        "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

//@mixin yugothic-light {
//    font-display: auto;
//    font-family: "YuGothic-Light", "ヒラギノ角ゴ Pro",
//        "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック",
//        "MS PGothic", sans-serif;
//}

@mixin yugothic-medium {
    font-display: auto;
    font-family: "YuGothic-Medium", "ヒラギノ角ゴ Pro",
        "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック",
        "MS PGothic", sans-serif;
}

@mixin yugothic-bold {
    font-display: auto;
    font-family: "YuGothic-Bold", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
        "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}
